/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .letters li {
  background-color: #9fa6b0;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 4px 12px;
  display: inline;
  font-size: 48px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .btn{
margin-top: 20px;
background-color: brown;
align-items: center;
 }

 .intro{
  font-size: large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .h1,h2{
margin: 20px;
font-size:54px;
color: chocolate;
 }

 .toto {
  text-decoration: none;
  color:red;
  font-size: 32px;
}
